@{ 
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="row" id="info">
    <h1>@ViewBag.info</h1>
</div>
<a href="Index"><button class="btn btn-primary">确定</button></a>
<a href="javascript:hide();"><button class="btn btn-defaule">取消</button></a>
<script>
    function hide() {
        $("#info").hide();
    }
</script>
