
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>changePassword</title>
</head>
<body>
    <div> 
		<div class="row" id="info">
			<h1>@ViewBag.info</h1>
		</div>
		<a href="/Home/Index"><button class="btn btn-primary">确定</button></a>
    </div>
</body>
</html>
